@font-face {
	font-family: abel;
	src: url("../font/Abel-Regular.ttf");
}



.master {
	width: 960px;
	margin: 0 auto;
	font-family: abel;
}

.upper {
	width: 960px;
	height: 300px;
	background-color: #3a3a3a;
}

.content {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 80px;
}

.upper h1 {
	color: #6cce3d;
	display: inline;
	font-size: 62px;

}

.upper h5 {
	color: #489a45;
	display: inline;
	font-size: 22px;
	position: relative;
	bottom: 20px;

}

.navbar {
	width: 960px;
	height: 50px;
	background-color: #6cce3d;
	margin-top: 60px;
	border-radius: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

li {
	float: left;
	margin-right: 50px;
	font-size: 28px;
	font-weight: 600;
	margin-left: 25px;
	padding-top: 8px;

}

.homepage {
	background-color: #489a45;
	padding-bottom: 6px;

}

a {
	text-decoration: none;
	color: #fff;
}

img {
	margin-top: 50px;
	width: 960px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



.left-bottom {
	width: 330px;
	margin-top: 40px;
	float: left;
}

.left-bottom-upper h3 {
	color: #6cce3d;
	font-size: 32px;
	display: inline;
}

hr {
	margin-top: 20px;
	margin-bottom: 0px;
}

.left-bottom-upper p {
	line-height: 18px;
	padding-left: 15px;
}

.box h4 {
	color: #6cce3d;
	font-size: 32px;
	display: inline;
}

.box p {
	display: inline-block;
	color: #939aab;
	line-height: 38px;
	margin-top: 0px;
}

.right-bottom {
	float: left;
	width: 570px;
	margin-left: 50px;
}

.right-bottom h2 {
	color: #6cce3d;
	font-size: 42px;
	float: left;
	margin-bottom: 0px;
}

.small {
	font-weight: 900;
	clear: both;
}

span {
	color: #939aab;
}

.big {
	text-align: justify;
	font-weight: bold;
}

.footer {
	width: 960px;
	height: 100px;
	background-color: #3a3a3a;

}

.footer p {
	text-align: center;
	color: #fff;
	position: relative;
	top: 50px;
}

.footer a {
	color: #6cce3d;
}